*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Plain Light";
}
html, body{
    height: 100%;
    width: 100%;
}
#cursor{
    height: 2.5vw;
    width: 2.5vw;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #ffffff7d;
    position:fixed;
    z-index: 999;
    mix-blend-mode:difference;
    transform: translate(-50%, -50%);
    

}
#loader{
    height:100%;
    width: 100%;
    position: fixed;
    z-index: 99;
    background-color: rgb(13, 13, 13);
    padding: 25vh 10vw;
}
.line{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: fit-content;
    overflow: hidden;
    gap: 3vw;
}
#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
   
}

#line1-part1 h5, #line1-part1 h6{
    font-size: 3vw;
    font-family: "Silk Serif";
    font-weight: 100;
}
#line1-part1 h5{
    width: 5vw;
    
}
.line h1{
    font-size: 6vw;
    text-transform: uppercase;
    font-weight: 900;
}
.line h{
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 900;
    animation-name: animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;

}
@keyframes animation {
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500px;
        opacity: 1;
    }
    47%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500px;
        opacity: 0;

    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500px;
        opacity: 1;

    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500px;
        opacity: 0;
    }
}


#main{
    position: relative;
    background-color: #030303;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: #040404;
}
#page1 #nav{
    display: flex;
    align-items:center ;
    justify-content: space-between;
    padding: 4vh 5.5vw;
}
#nav-part2{
    display: flex;
    gap: 4vw;
    align-items: center;
    justify-content: center;
}
#nav-part2 h4{
    font-size: 1vw;
    font-weight: 500;
}
.page1-center{

    display: flex;
    align-items: center;
    height: fit-content;
    overflow: hidden;
    width: 70%;
    margin-left: 27%;
    position: relative;
    z-index:  999;
}
.page1-center:nth-child(2){
    margin-top: 20vh;
}
.page1-center h1{
    font-size: 7vw;
    text-transform: uppercase;
    line-height: 7vw;
}
#third_text h2{
    font-size: 7vw;
    text-transform: uppercase;
    line-height: 7vw;
}
.page1-center h2:hover{
    -webkit-text-stroke: 2px white;
    color: transparent;
    font-weight: 300;
}